.reviews {
	margin-bottom: 64px;
}

@media screen and (min-width: 768px) {
	.reviews {
		margin-bottom: 96px;
	}
}

@media screen and (min-width: 1280px) {
	.reviews {
		margin-bottom: 126px;
	}
}

.reviews__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 16px;
}

@media screen and (min-width: 768px) {
	.reviews__wrapper {
		padding-top: 48px;
	}
}

@media screen and (min-width: 1280px) {
	.reviews__wrapper {
		padding-top: 64px;
	}
}

.reviews__slider {
	padding-top: 24px;
	justify-self: flex-end;
	align-self: end;
}

@media screen and (min-width: 435px) {
	.reviews__slider {
		align-self: center;
	}
}


@media screen and (min-width: 768px) {
	.reviews__slider {
		padding-top: 32px;
		align-self: end;
	}
}

@media screen and (min-width: 1280px) {
	.reviews__slider {
		padding-top: 64px;
		align-self: center;
	}
}

.reviews__slider-item {
	max-width: 272px;
	position: relative;
}

@media screen and (min-width: 768px) {
	.reviews__slider-item {
		max-width: 600px;
	}
}

@media screen and (min-width: 1280px) {
	.reviews__slider-item {
		max-width: 680px;
	}
}

.reviews__img {
	position: absolute;
	left: -62px;
	top: 0;
	height: 40px;
	width: 40px;
}

@media screen and (min-width: 768px) {
	.reviews__img {
		width: 80px;
		height: 80px;
		left: -102px;
	}
}

.reviews__text {
	font-weight: 400;
	font-size: 16px;
	line-height: 28px;
	color: var(--color-text)
}

@media screen and (min-width: 768px) {
	.reviews__text {
		font-size: 18px;
		line-height: 32px;
	}
}

.reviews__nav {
	display: flex;
	padding: 32px 0 0;
}

@media screen and (min-width: 768px) {
	.reviews__nav {
		padding: 48px 0 64px;
	}
}

.reviews__nav-item {
	display: none;
	align-items: center;
	margin: 12px 16px;
	border-radius: 100px;
	width: 56px;
	overflow: hidden;
	cursor: pointer;
}

@media screen and (min-width: 768px) {
	.reviews__nav-item {
		display: flex;
	}
}

.reviews__nav-item.active {
	display: flex;
	background: var(--color-black);
	width: 270px;
	padding: 12px 16px;
	margin: 0;
}

.reviews__user-content {
	padding-left: 16px;
}

.reviews__user-name {
	font-weight: 500;
	font-size: 18px;
	line-height: 32px;
	color: var(--color-white);
	white-space: nowrap;
}

.reviews__user-job {
	font-weight: 400;
	font-size: 14px;
	line-height: 22px;
	color: var(--color-grey);
	white-space: nowrap;
}