.technology {
	margin: 64px 0;
}

@media screen and (min-width: 768px) {
	.technology {
		margin: 96px 0;
	}
}

@media screen and (min-width: 1280px) {
	.technology {
		margin: 126px 0;
	}
}

.technology .title {
	margin-bottom: 24px;
}

@media screen and (min-width: 1280px) {
	.technology .title {
		margin-bottom: 32px;
	}
}

.technology__items {
	display: grid;
	grid-template-columns: 1fr;
	row-gap: 16px;
}

@media screen and (min-width: 1280px) {
	.technology__items {
		grid-template-columns: 1fr 1fr;
		column-gap: 20px;
	}
}

.technology__item {
	font-weight: 400;
	font-size: 16px;
	line-height: 28px;
	color: var(--color-text)
}

.technology__picture {
	padding-top: 48px;
	position: relative;
}

@media screen and (min-width: 1280px) {
	.technology__picture {
		padding-top: 64px;
	}
}

.technology__picture-text {
	display: none;
	position: absolute;
	bottom: 32px;
	left: 40px;
	max-width: 208px;
}

@media screen and (min-width: 768px) {
	.technology__picture-text {
		display: block;
	}
}

@media screen and (min-width: 1280px) {
	.technology__picture-text {
		max-width: 341px;
	}
}

.technology__picture-title {
	font-weight: 400;
	font-size: 21px;
	line-height: 32px;
	color: var(--color-white);
	margin-bottom: 12px;
}

.technology__picture-desc {
	font-weight: 400;
	font-size: 14px;
	line-height: 22px;
	color: var(--color-grey);
}

.technology__store {
	display: flex;
	align-items: center;
	position: absolute;
	left: 15px;
	bottom: 16px;
	flex-direction: column;
	gap: 8px;
}

@media screen and (min-width: 768px) {
	.technology__store {
		flex-direction: row;
		left: auto;
		right: 40px;
		bottom: 32px;
	}
}

.technology__store-item:first-child {
	margin-right: 16px;
}

.technology__img {
	max-width: 100%;
	height: 240px;
	object-fit: cover;
	border-radius: 24px;
}

@media screen and (min-width: 768px) {
	.technology__img {
		height: auto;
	}
}